@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');


:root {
    --txt: rgb(31, 91, 150);
    --bg: #365ad3;
    --span: #ff12ed;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
/*    background: linear-gradient(45deg, #2344ef, #eef134);*/
    background: #fff;
}

/* bg clippy */

.clippy {
    clip-path: polygon(82% 74%, 100% 0, 100% 100%, 0% 100%);
    background: var(--bg);
    width: 100%;
    height: 100vh;
    position: absolute;

}

/* ==============header style scetion=============== */



header {
    /* height: 10vh; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* =========hidding the menu/cancel button===== */
#menu, #close {
    display: none;
    color: var(--txt);
    font-size: 1.5em;
}
/*==========hidding style above============= */

.list-sign, .list-reg, .about, .home {
    display: inline;
    list-style: none;
    margin-left: 1em;
}

.list-sign a, .list-reg a, .logo a, .about a, .home a {
    text-decoration: none;
    color: var(--txt);
}

.logo {
    font-weight: 700;
    font-size: 2.5em;
    cursor: pointer;
}

.list-reg, .cta {
    background: var(--txt);
    padding: 8px 20px;
    border-radius: 35px;
    color: #fff;
    transition: .3s ease-out;
}

.list-reg:hover, .cta:hover {
    opacity: .4;
    box-shadow: 0,10px,1px,3px,#1F5A96;
}

.list-reg a {
    color: #fff;
}


/* ============main style scetion============== */
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    top: 30%;
    
}

.welcome {
    margin-right: 30px;
    max-width: 50%;;
}

.desc {
    font-size: 50px;
    color: var(--txt);
}
.desc span {
    color: var(--span);
}

.text {
    padding-top: 15px;
    font-size: 1.2em;
    color: var(--txt);
}

.cta {
    background: var(--txt);
    color: #fff;
    padding: .5em 1em;
    /* border-radius: .35em; */
    text-decoration: none;
    position: relative;
    top: 1.5em;
    margin-left: 0;
    transition: .3s ease-out;
}
 

.image {
    width: 20em;
    border-radius: 3em;
    border: 3px solid var(--txt);
}

/* ===========form style section============ */
.form {
    position: absolute;
    top: 25%;
    right: 20%;
    height: fit-content;
    min-width: 50%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    display: none;
}

.form-reg {
    background: inherit;
    padding: 0;
    margin: 0;
}

.block {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    outline-color: #83ADE1;
    border-radius: 5px;
    background: #f1fff1;
}

button {
    padding: 8px 20px;
    background: var(--txt);
    color: #fff;
    border-radius: 35px;
    position: relative;
    float: right;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.or {
    clear: both;
    text-align: center;
    padding: 10px;
}
.or::before {
    content: "";
    height: 1px;
    width: 50px;
    background: var(--txt);
    display: inline-block;
    align-self: center
}

.or::after {
    content: "";
    height: 1px;
    width: 50px;
    background: var(--txt);
    display: inline-block;
    align-self: center
}

p {
    color: #275137;
}

p .list-sign, p .list-reg, .forget {
    color: var(--span);
}

/*================(mdeia query)=================*/
@media(max-width: 800px) {
    header {
        padding-top: .5em;
    }
    .logo {
        font-size: 2em;
    }
    .form {
        height: fit-content;
        width: 90%;
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .welcome {
        max-width: 100%;
        margin-right: 0;
        order: 2;
    }
    .welcome h1 {
        font-size: 3em;
        margin-top: 1em;
    }

    .welcome p {
        font-size: 1em;
    }

    .image {
        width: 40%;
    }

    .clippy {
        display: none;
    }
    /* ====menu styling===== */
    .lists {
        display: none;
    }

    #menu {
        display: block;
    }

    #close {
        color: #fff;
        display: block;
    }

    .mobile {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        background: rgba(31, 91, 150, .85);
        display: block;
        width: 70vw;
        z-index: 1000;
        color: #fff;
        padding: 20px 30px;
        transition: .3s ease-in
    }

    #list-menu li a {
        color: #fff;
    }
    #list-menu li {
        display: block;
        margin: 2em 0;
        border-bottom: 1px solid var(--txt);
        /* width: 100%; */
    }

    .list-reg {
        padding: 0;
        border-radius: 0;
        background: transparent;
    }
}